{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <link href="{% static 'model/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'model/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let countdown;
        let mqttClient;
        let modal;
        function addCard() {
            if (countdown) {
                clearInterval(countdown);
            }
            modal = new bootstrap.Modal(document.getElementById('addCardModal'), {
                keyboard: false
            });
            modal.show();

            let timer = 30;
            document.getElementById('countdown').innerText = timer;
            countdown = setInterval(() => {
                timer--;
                document.getElementById('countdown').innerText = timer;
                if (timer <= 0) {
                    clearInterval(countdown);
                    modal.hide();
                }
            }, 1000);

            mqttClient = new Paho.MQTT.Client("wss://broker.mqttgo.io:8084/mqtt", "clientId-" + parseInt(Math.random() * 100, 10));
            mqttClient.onMessageArrived = onMessageArrived;
            mqttClient.connect({
                onSuccess: () => {
                    mqttClient.subscribe("ntubimd/addCard/success");
                    let message = new Paho.MQTT.Message("Add new card");
                    message.destinationName = "ntubimd/registerCard";
                    mqttClient.send(message);
                }
            });
        }

        function onMessageArrived(message) {
            const payload = message.payloadString;
            clearInterval(countdown);
            mqttClient.disconnect();
            modal.hide();
            if (payload === '新增成功') {
                Swal.fire({
                    title: '新增成功',
                    text: '卡片已成功新增。',
                    icon: 'success',
                    confirmButtonText: '確認'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            } else {
                Swal.fire({
                    title: '新增失敗',
                    text: payload,
                    icon: 'error',
                    confirmButtonText: '確認'
                });
            }
            console.log("Message received: " + message.payloadString);
        }
    </script>
</head>
<div class="container">
    <h2 class="text-center mb-4">卡片管理</h2>
    <button id="add-card-button" class="btn btn-primary mb-3" onclick='addCard()'>新增卡片</button>
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="搜索卡號或被照護者名稱" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-outline-secondary" type="submit">搜索</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>卡片序號</th>
                <th>卡片內碼編號</th>
                <th>綁定人</th>
                <th>卡片新增時間</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for card in page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ card.rfidCard_code }}</td>
                <td>
                    {% if card.patient %}
                        {{ card.patient.patient_name }}
                    {% else %}
                        未分配
                    {% endif %}
                </td>
                <td>
                    {% if card.created_time %}
                        {{ card.created_time }}
                    {% else %}
                        未分配
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_card' card.rfidCard_code %}" class="btn btn-primary">編輯</a>
                    <form action="{% url 'delete_card' card.rfidCard_code %}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('確定要刪除這個卡片嗎？');">刪除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- 添加模态框 -->
<div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="addCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCardModalLabel">新增卡片</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>請在 <span id="countdown">30</span> 秒內，將新的卡片於卡機感應。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <a class="page-link" href="{% url 'card_manager' %}?page=1">&laquo; 最前頁</a>
    <a class="page-link" href="{% url 'card_manager' %}?page={{ page_obj.previous_page_number }}">上一頁</a>
    {% endif %}

    <span class="page-link disabled">
        第 {{ page_obj.number }} 頁，共 {{ page_obj.paginator.num_pages }} 頁
    </span>

    {% if page_obj.has_next %}
    <a class="page-link" href="{% url 'card_manager' %}?page={{ page_obj.next_page_number }}">下一頁</a>
    <a class="page-link" href="{% url 'card_manager' %}?page={{ page_obj.paginator.num_pages }}">最後頁 &raquo;</a>
    {% endif %}
</div>
{% endblock %}
