uvicorn
jsonschema
line-bot-sdk
paho-mqtt
django-bootstrap4
django-crispy-forms
crispy-bootstrap5
openai==0.28
django-cors-headers
channels==3.0.4
mysqlclient
Pillow
edge_tts
qrcode[pil]
reportlab
pydub
apscheduler
transformers