{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>事件管理</title>
    <script src="{% static 'model/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <style>
        .card {
            margin-bottom: 15px;
        }

        .card-title {
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">事件管理</h1>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">
            新增事件管理
        </a>
        {% include 'modal/add_modal.html' with form=add_form item_title='事件管理' url_name='add_turn_point' %}
        <br><br>
        <h2 class="mb-4">已新增的事件：</h2>
        <div id="timeSlots" class="row">
            {% for item in turn_points_with_forms %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.turn_point.turn_point_name }}</h5>
                            
                            <p class="card-text">觸發動作: {{ item.turn_point.qr_point.action_type.action_type_display }}</p>
        
                            <p class="card-text">指定被照護者:
                                {% for patient in turn_point.patient.all %}
                                    {{ patient.patient_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
        
                            <a href="#" class="bi bi-pencil-square" title="修改" data-bs-toggle="modal" data-bs-target="#editModal{{ item.turn_point.turn_point_id }}">修改</a>
                            <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('確定要刪除這個時段嗎？');">刪除</button>

                            {% include 'modal/edit_modal.html' with form=item.form item_id=item.turn_point.turn_point_id item_title='事件' url_name='edit_turn_point' %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        

        </div>
    </div>
</body>

</html>
{% endblock %}

