.FunctionMenuBtn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;/
}

.arrow-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
    font-size: 12px;
}

.arrow-right {
    transform: rotate(0deg);
}

.arrow-down {
    transform: rotate(90deg);
}

.content {
    flex: 1;
    margin-left: 250px; /* Same as sidebar width */
    padding: 20px;
    overflow-y: auto;
}


body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F3EF;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #338597 !important;
    color: white !important;
    padding: 15px !important;
    text-align: center !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 1000 !important;
    height: 60px !important;
    display: flex !important;
    position: fixed;
    justify-content: space-between !important;
    align-items: center !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
    transition: background-color 0.3s !important;
    flex-shrink: 0;
    z-index: 3000;
}

header h2 {
    color: #fff !important;
    font-size: 24px !important;
    margin: 0;
    padding: 0;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

header img {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.account {
    position: relative;
}

.account a {
    color: #fff;
    text-decoration: none;
    width: 160px;

}

.account-dropdown {
    position: absolute;
    font-size: 14px;
    top: calc(100%);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    width: 140px;
    z-index: 4000;
    text-align: center;
    margin: auto;
}

.account-dropdown.show {
    display: block;
}

.account:hover .account-dropdown {
    display: block;
}

.account-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    line-height: 1.5;
    border-radius: 0.5rem;
}

.account-dropdown a:hover {
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    width: 140px;
    font-weight: bold;
}


/* Container to hold nav and main */
.container-fluid {
    display: flex;
    flex: 1;
    padding-top: 60px;
}


.url-container {
    width: 100%;
    min-width: 120px;
}


sor: pointer;
}

nav li a,
.FunctionMenu-item {
    text-decoration: none;
    margin-left: 10px;
    display: block;
    width: 100%;
    padding: 5px;
    align-items: center;
    color: #333;
    font-weight: bold;
}

nav,
main {
    transition: margin-left 0.5s ease;
}

nav.slide-in,
main.slide-in {
    margin-left: 0;
}

nav.slide-out,
main.slide-out {
    margin-left: -250px;
}

nav li i {
    margin-right: 10px;
}

main {
    flex: 1;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        height: auto;
        position: static;
        left: 0;
    }

    main {
        flex: 1;
        padding: 20px;
        margin-left: 0;
        height: calc(100vh - 70px);
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .account-dropdown {
        width: 100%;
        /* 小屏幕上選單寬度為全屏 */
        left: 0;
        /* 左對齊 */
        transform: none;
        /* 不需要水平位移 */
    }

    .account-dropdown .url-container {
        padding: 10px 15px;
        /* 增加填充，使觸控更容易 */
    }
}

.FunctionMenuBtn.active {
    color: cadetblue;
}

.FunctionMenu-item {
    padding: 20px;
    justify-content: center;
}

.FunctionMenu-item:hover {
    color: #007bff;
    background-color: #e9ecef;
}

.FunctionMenu-item.active {
    color: cadetblue;
}

.FunctionMenuBtn {
    display: block;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
}

.FunctionMenuBtn:hover {
    color: #007bff;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.icon {
    width: 16px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

/* Sidebar */
.sidebar {
    background-color: white;
    padding-top: 10px;
    border-right: 1px solid #ddd;
    width: 260px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    z-index: 2000;
}

.sidebar.show {
    left: 0;
}

/* Main content */
.content {
    flex: 1;
    margin-left: 260px;
    padding: 20px;
    background-color: #F4F3EF;
    overflow-y: auto;
}

/* 主选项样式 */
.main-option {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #2D6FA9;
    background-color: #2D6FA9;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, left 0.5s ease-in-out;
    position: relative;
}

.main-option i {
    margin-right: 10px;
}

.main-option:hover {
    background-color: #1b4f7d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.main-option.active {
    color: white;
    font-weight: bolder;
    background-color: #1d4f7b;
    border-color: #1d4f7b;
}

/* 子选项样式 */
.sub-option {
    padding-left: 40px;
    font-size: 14px;
    color: #2F2F2F;
    border: none;
    padding: 10px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: color 0.3s ease, background-color 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease;
    visibility: hidden;
}

.sub-option.active {
    color: #336699;
    background-color: #e9f3ff;
    font-weight: bold;
    border: 1px solid #9c9c9c;
}

.sub-option:hover {
    color: #336699;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-weight: bold;
}

/* 動畫 */
.sidebar .collapse {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.sidebar .collapse.show {
    max-height: 500px;
}

.sidebar .collapse.show .sub-option {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* Collapse Icon Animation */
.fa-chevron-down {
    transition: transform 0.3s ease;
    margin-left: auto;
}

.fa-chevron-down.open {
    transform: rotate(180deg);
}

/* 漢堡選單樣式 */
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background: none;
    color: white;
    transition: all 0.3s ease;
}

.hamburger-menu:hover {
    transform: scale(1.2);
    /* 放大動畫效果 */
}