.modal-header {
    background-color: #51b2b7; 
}

.modal-content {
    background-color:white;
    padding: 0;                   
    border: none;                 
  }


.btn-success {
    background-color: #28a745; /* Standard Bootstrap green for 'success' */
}

.btn-success:hover {
    background-color: #218838; /* A slightly lighter green on hover */
}

/* Targeting the 'Cancel' button within the modal */
.btn-secondary {
    background-color: #D04F57; /* Standard Bootstrap gray for 'secondary' */
}

.btn-secondary:hover {
    background-color: #c51924; /* A lighter gray on hover */
}