body {
  font-family: "Arial", sans-serif;
  color: #333333;
  background-color: #f5f6fa;
}

h2 {
  font-size: 1.75rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 85%;
}

.search-bar input {
  flex-grow: 1;
  border-radius: 50px;
  border: 1px solid #ced4da;
  padding: 10px 20px;
  font-size: 1rem;
  color: #495057;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.search-bar input::placeholder {
  color: #adb5bd;
}

.search-bar input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-bar button {
  background: none;
  border: none;
  color: #007bff;
  margin-left: -40px;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-bar button:hover {
  color: #0056b3;
}

.patient-card {
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 5px solid #007bff;
}

.patient-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.no-hover-effect:hover {
  transform: none !important;
  box-shadow: none !important;
}

.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e9ecef;
}

.patient-header h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #333333;
  font-weight: 600;
}

.patient-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: #495057;
}

.patient-details div {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.patient-details div span {
  font-weight: 600;
  color: #6c757d;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-btn, .page-link {
  background-color: #ffffff; /* 按鈕背景色 */
  border: 1px solid #ccc; /* 按鈕邊框 */
  color: #333333; /* 文字顏色 */
  padding: 8px 16px; /* 內距 */
  margin: 0 5px; /* 間距 */
  cursor: pointer; /* 滑鼠指標 */
  text-decoration: none; /* 移除超連結下劃線 */
  border-radius: 4px; /* 邊角圓滑 */
  display: inline-block; /* 確保按鈕正確顯示 */
}

.page-btn:hover, .page-link:hover {
  background-color: #e9ecef; /* 滑鼠懸浮時的背景色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 滑鼠懸浮時的陰影效果 */
}

.page-current {
  background-color: #f8f9fa; /* 當前頁面背景色 */
  border: 1px solid #ccc;
  color: #333333;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 4px;
  pointer-events: none; /* 禁用點擊事件 */
}


.disabled {
  color: #6c757d;
}

.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #999999;
  margin-top: 40px;
}

