body {
  font-family: "Arial", sans-serif;
  color: #333333;
  background-color: #f5f6fa;
}

h2 {
  font-size: 1.75rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 85%;
}

.search-bar input {
  flex-grow: 1;
  border-radius: 50px;
  border: 1px solid #ced4da;
  padding: 10px 20px;
  font-size: 1rem;
  color: #495057;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.search-bar input::placeholder {
  color: #adb5bd;
}

.search-bar input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-bar button {
  background: none;
  border: none;
  color: #007bff;
  margin-left: -40px;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-bar button:hover {
  color: #0056b3;
}

.patient-card {
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 5px solid #007bff;
}

.patient-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.no-hover-effect:hover {
  transform: none !important;
  box-shadow: none !important;
}

.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e9ecef;
}

.patient-header h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #333333;
  font-weight: 600;
}

.patient-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: #495057;
}

.patient-details div {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.patient-details div span {
  font-weight: 600;
  color: #6c757d;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-link {
  color: #007bff;
  margin: 0 5px;
  border-radius: 50%;
  padding: 8px 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.page-link:hover {
  background-color: #e9ecef;
  transform: translateY(-2px);
  text-decoration: none;
}

.disabled {
  color: #6c757d;
}

.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #999999;
  margin-top: 40px;
}

.modal-content {
  background-color:white; /* 設置背景透明 */
  padding: 0;                   /* 移除內距 */
  border: none;                 /* 移除邊框 */
}