<div class="modal fade top-modal" id="addItemModal" tabindex="-1" 
    aria-labelledby="editModalLabel{{ item_id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content no-hover-effect">
            <div class="modal-header">
                <h5 class="modal-title">新增{{ item_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url url_name %}" class="edit-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success save-btn">新增</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
