<div class="modal fade" id="editPatientModal{{ item_id }}" tabindex="-1"
    aria-labelledby="editPatientModalLabel{{ item_id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content no-hover-effect">
            <div class="modal-header">
                <h5 class="modal-title" id="editPatientModalLabel{{ item_id }}">修改{{ item_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url url_name item_id %}" id="edit-form-{{ item_id }}" class="edit-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success save-btn">儲存更改</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消更改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
