{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />

    {% if request.user|has_group:"admin" %}
    <title>後臺管理系統</title>

    {% elif request.user|has_group:"pharmacy" %}
    <title>智慧藥師後臺系統</title>

    {% elif request.user|has_group:"caregiver" %}
    <title>智慧照護後臺系統</title>
    {% endif %}
    {% block extra_head %}

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="{% static 'model/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}">
    <script src="{% static 'model/jquery-3.6.4.min.js' %}"></script>

    {% endblock %}
</head>

<body>
    <div class="modal" tabindex="-1" role="dialog" id="preloaderModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="lds-roller">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3 style="padding: 10px;">處理中...</h3>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="hamburger-menu" onclick="toggleSidebar()">&#9776;</div>

        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="公司LOGO">

            {% if request.user|has_group:"admin" %}
            <h2>後臺系統</h2>
            {% elif request.user|has_group:"pharmacy" %}
            <h2>智慧藥師後臺系統</h2>
            {% elif request.user|has_group:"caregiver" %}
            <h2>智慧照護後臺系統</h2>
            {% endif %}
        </a>
        <div class="account">
            <a href="#">
                <i class="fas fa-user-circle"></i>
                {{ request.user.username }} | 目前：{% for group in user.groups.all %} {{ group.display }} {% endfor %}
            </a>
            <div class="account-dropdown">
                <a href="{% url 'edit_profile' %}">修改資訊</a>
                <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> 登出</a>
            </div>
        </div>

    </header>
    <!-- 灰色背景遮罩 -->
    <div class="overlay" onclick="toggleSidebar()"></div> <!-- 點擊遮罩也可以關閉側邊欄 -->


    <div class="container-fluid">
        <nav class="sidebar">
            {% for menu in function_menu %}
            {% if user|has_groups:menu.permission %}
            {% if menu.mode == 'one' %}
            <!-- 單項目菜單 -->
            <a class="d-flex justify-content-between align-items-center toggle-section main-option"
                href="{% url menu.url %}">
                <span><i class="{{ menu.icon }}"></i> {{ menu.name }}</span>
            </a>
            {% elif menu.mode == "multi" %}
            <!-- 多項目菜單 -->
            <a class="d-flex justify-content-between align-items-center toggle-section main-option"
                href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#{{ menu.id }}">
                <span><i class="{{ menu.icon }}"></i> {{ menu.name }}</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="collapse" id="{{ menu.id }}">
                {% for item in menu.items %}
                <a href="{% url item.url %}" class="sub-option">{{ item.name }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </nav>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        // 顯示預載動畫
        $('#preloaderModal').modal('show');
        setTimeout(function () {
            $('#preloaderModal').modal('hide');
        }, 2000);

        // 切換側邊欄顯示與否
        $('.hamburger-menu').click(function () {
            $('.sidebar').toggleClass('show');
            $('.overlay').toggle();
        });

        $('.overlay').click(function () {
            $('.sidebar').removeClass('show');
            $('.overlay').hide();
        });

        // 控制主選項及其子選單的展開/收合
        $('nav a[data-bs-toggle="collapse"]').click(function (e) {
            e.preventDefault();  // 防止默認鏈接行為
            var $target = $($(this).data('bs-target'));

            // 如果點擊的子選單已經展開，則收合該選單，並更新箭頭方向
            if ($target.hasClass('show')) {
                $target.collapse('hide');
                $(this).find('i.fa-chevron-down').removeClass('open');
            } else {
                // 收合其他已展開的子選單，並更新其箭頭
                $('nav .collapse.show').each(function () {
                    $(this).collapse('hide');
                    $(this).siblings('a[data-bs-toggle="collapse"]').find('i.fa-chevron-down').removeClass('open');
                });

                // 展開當前子選單，並更新箭頭方向
                $target.collapse('show');
                $(this).find('i.fa-chevron-down').addClass('open');
            }
        });
    });

    // 切換側邊欄顯示與否
    $('.hamburger-menu').click(function () {
        $('.sidebar').toggleClass('show');
        $('.overlay').toggle();
    });

    // 切換側邊欄
    function toggleSidebar() {
        $('.sidebar').toggleClass('show');
        $('.overlay').toggle();
    }
</script>